
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: bisque;
}
.boxContainer{
    display:table-row;
    align-self:baseline;
}
.bottonContainer{
    display: flex;
    margin-top: 40px;
}
