.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: rgb(95,75,38);
  background: linear-gradient(90deg, rgba(95,75,38,1) 7%, rgba(16,117,45,1) 53%, rgba(80,124,133,1) 99%);
}